.gallery-container {
  @include min-width($tablet) {
    margin-top: 60px;
  }
  @include max-width($tablet) {
    margin-top: 20px;
  }

  margin-bottom: 60px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include min-width($desktop) {
    gap: 16px;
  }
  @include min-width-max-width($tablet, $desktop) {
    gap: 32px;
  }
  @include min-width($tablet) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.gallery-item {
  width: 100%;
  @include min-width($desktop) {
    flex-basis: calc((100% - 32px) / 3);
  }
  @include max-width($desktop) {
    flex-basis: calc((100% - 32px) / 2);
  }
}

.film-poster {
  width: 100%;
  @include min-width($desktop) {
    height: 590px;
  }
  @include max-width($desktop) {
    height: 455px;
  }
  @include max-width($tablet) {
    height: 400px;
  }
}

.film-name {
  text-transform: uppercase;
  color: $mainColor;
}

.film-descr {
  color: $accentColor;
}

.pagination-btn-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
  gap: 10px;
  @include max-width($tablet) {
    gap: 5px;
  }
}

.current-page-btn {
  background-color: $accentColor;
}

.pagination-dots {
  pointer-events: none;

  @include max-width($tablet) {
    display: none;
  }
}

.extreme-btns {
  @include max-width($tablet) {
    display: none;
  }
}

.arrow-btn {
  background-color: #f7f7f7;
}
